.create-header {
  font-size: 27px;
}
form {
  display: flex;
  flex-direction: column;

  .option-label,
  .question-label {
    font-size: 20px;
  }

  .checkbox-div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    label {
      margin-left: 5px;
    }
  }
}
.options {
  display: flex;
  flex-direction: column;

  .option {
    display: flex;
    flex-direction: column;
  }
  .create-btn {
    margin: auto 10px auto auto;
  }
}

.question {
  display: flex;
  flex-direction: column;
}
