.navbar {
  display: flex;
  width: 100%;
  background-color: #ffd756;

  .inner-nav {
    display: flex;
    margin: auto 10px auto 10px;
    width: 100%;

    .error-msg {
      margin: auto;
    }
    .logo {
      margin-right: auto;
      font-size: 37px;
    }
  }
}
