.create-header {
  font-size: 27px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.question {
  display: flex;
  width: 95%;
  margin: auto auto 20px auto;
  div {
    width: 100%;
  }
}
