body {
  padding: 0;
  margin: 0;
  font-family: Baloo Bhai, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: black;
}
input {
  font-family: Baloo Bhai, cursive;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
